/.idea
/out
/build
/.vscode

.attach_pid8380
.classpath
.project
.settings/
bin/.gradle/
bin/.project
bin/Dockerfile
bin/README.md
bin/build.gradle
bin/build/
bin/devops/
bin/gradle/
bin/gradlew
bin/gradlew.bat
bin/settings.gradle
bin/src/
.gradle

out/
build/
/bin/
